<web-app>

    <context-param>
        <description>JavaServer Faces Configurations: View transition settings.</description>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
            /WEB-INF/faces-config.xml
        </param-value>
    </context-param>


<!--
    <context-param>
        <description>A JSF app can be configured to use an installed JSF implementation that's not the default implementation.</description>
        <param-name>org.jboss.jbossfaces.JSF_CONFIG_NAME</param-name>
        <param-value>myfaces-2.2.12</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>
-->
<!--
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>
-->

    <distributable/>
</web-app>